#account-admin {
    width: 100%;
    float: right;
    .bg-top-account {
        position: relative;
        height: 37rem;
        .bg-top-particles {
            background-color: black;
            position: relative;
            height: 100%;
        }
    }
    .content-account {
        width: 80%;
        position: absolute;
        top: 0;
        position: right;
        background-position-x: right;
        right: 0;
        .title-page {
            text-align: center;
            margin-top: 7%;
            margin-bottom: 2%;
            color: white;
            h4 {
                font-family: Nunito, sans-serif;
            }
        }
        .content-detail-account {
            margin-left: 3%;
            .detail-account-div {
                display: flex;
                align-items: center;
                padding: 3% 0;
                h5 {
                    font-family: Nunito, sans-serif;
                    color: white;
                }
                h5:nth-child(1) {
                    width: 40%;
                }
            }
        }
        .btn-edit-account {
            float: right;
            .btn-edit {
                animation: rotate 2s infinite linear;
                background-color: $color-1;
            }
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
        .account-page-bg {
            img {
                height: 37rem;
                width: 100%;
            }
        }
    }
}
@media (max-width: 1000px) {
    #account-admin {
        width: 100%;
        .content-account {
            width: 95%;
            .account-page-bg {
                display: none;
            }
        }
    }
}
