.cinema-admin {
    width: 85%;
    float: right;
    h6 {
        font-size: 24px;
    }
    .content-search {
        position: fixed;
        width: 85%;
        z-index: 3;
        .toolbar {
            display: flex;
            justify-content: space-between;
            .content-form {
                display: flex;
                width: 37%;
                .item-form {
                    width: 70%;
                }
                .item-icon {
                    margin-left: 5%;
                }
            }
        }
        .tiltle-user {
            background-color: black;
            color: white;
            padding: 1% 0;
            div {
                text-align: center;
            }
        }
    }
    .content-user {
        margin-top: 10%;
    }
    .tiltle {
        text-align: center;
        font-size: 17px;
    }
    .data {
        text-align: center;
    }
    .data-action {
        button {
            font-size: 9px;
            margin-right: 2%;
            outline: none;
        }
    }

    .item-user {
        border-bottom: 2px solid;
        padding: 1% 0;
        .item {
            text-align: center;
            padding-top: 1%;
            .content-chi-tiet {
                box-shadow: none;
                .btn-chi-tiet {
                    div {
                        justify-content: center;
                    }
                    button {
                        outline: none;
                    }
                }
                .list-chi-tiet {
                    background-color: $color-2;
                    width: 34rem;
                    height: 20rem;
                    .chi-tiet {
                        width: 30%;
                        color: white;
                        padding: 0;
                    }
                    .chi-tiet-item {
                        color: white;
                        overflow: hidden;
                    }
                }
            }
            .btn-action {
                outline: none;
                margin-right: 3%;
                font-size: 11px;
            }
        }
        .item-chi-tiet {
            padding-top: 0 !important;
            padding-left: 3%;
        }
        .item-img {
            margin-bottom: 2%;
            img {
                width: 40%;
            }
        }
        .item-tiltle {
            font-size: 25px;
            font-weight: 600;
            height: 20%;
        }
    }
}
