.showtime{
    height: 1000px;
    background-image: url(../../img/showtime/bg-showtime.png);
    background-size: 1700px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}