.header {
  z-index: 3;
  background-color: #170e21;
  .padding-header {
    padding: 20px 0;
    .color-item {
      background-color: #ec753224;
      a {
        @include Element-a();
      }
      &:hover {
        transform: scale(1.1);
        background-color: $color-1;
        transition: all 0.2s;
      }
    }
    .header-between {
      a {
        @include Element-a();
      }
      .i-phone {
        color: $color-1;
        font-size: 38px;
      }
      .i-facebook {
        @include Element-i();
        font-size: 20px;
        height: 35px;
        width: 35px;
        background-color: blue;
        border-radius: 9px;
      }
      span {
        @include Element-span();
        padding-left: 3px;
        font-size: 19px;
      }
    }
    .header-right {
      width: 80%;
      margin: 0 auto;
      position: relative;
      .logo-login {
        @include flex(space-between);
        width: 100%;
      }
      #login {
        position: absolute;
        top: -376%;
        z-index: -1;
        width: 100%;
        background: #0000006b;
        display: block;
        .form-login {
          width: 90%;
          margin: 0 auto;
          padding: 8% 0;
          .form-input {
            width: 100%;
            margin-bottom: 3%;
            input {
              width: 100%;
              padding: 4%;
              border: none;
              line-height: 21px;
              border-radius: 7px;
              outline: none;
            }
          }
          #logo-submit {
            padding: 3%;
            font-size: 148%;
            width: 100%;
            border-radius: 7px;
            background: $color-3;
            border: none;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            &:hover {
              background: $color-1;
              transition: ease-in-out 0.5s;
            }
          }
        }
      }
      div {
        color: white;
      }
      .content-modal-register {
        background-color: $color-2;
        .form-input {
          margin-bottom: 5%;
          label {
            display: block;
          }
          input {
            width: 100%;
            padding: 2%;
            border: none;
            line-height: 21px;
            border-radius: 7px;
            outline: none;
          }
        }
        #logo-submit {
          padding: 3%;
          font-size: 148%;
          width: 100%;
          border-radius: 7px;
          background: $color-3;
          border: none;
          text-transform: uppercase;
          color: white;
          font-weight: 600;
          &:hover {
            background: $color-1;
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
  }
}

#film {
  position: relative;
  padding-bottom: 2rem;
  div,
  span {
    color: white;
  }
  &::before {
    content: "";
    background-image: url(../img/home-movie/movie-details-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
  }
  .content-film {
    padding-top: 7%;
    .content-left {
      div {
        text-align: center;
        img {
          width: 60%;
        }
      }
    }
    .content-right {
      h3 {
        text-transform: uppercase;
        font-weight: 600;
      }
      .chi-tiet {
        font-size: 18px;
        line-height: 45px;
        div {
          color: $color-1;
          font-weight: 600;
          span {
            color: white;
            font-weight: 500;
          }
        }
      }
      .btn-trailer {
        margin-top: 5%;
        button {
          padding: 2% 3%;
          border-radius: 6px;
          border: none;
          background: $color-3;
          &:hover {
            background: $color-1;
            transition: all 0.5s;
          }
          a {
            @include Element-a();
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
  }
}
