#film {
  position: relative;
  padding-bottom: 2rem;
  padding-top: 4%;
  div,
  span {
    color: white;
  }
  &::before {
    content: "";
    background-image: url(../img/home-movie/movie-details-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
  }
  .content-film {
    padding-top: 7%;
    .content-left {
      div {
        text-align: center;
        img {
          width: 60%;
        }
      }
    }
    .content-right {
      h3 {
        text-transform: uppercase;
        font-weight: 600;
      }
      .chi-tiet {
        font-size: 18px;
        line-height: 45px;
        div {
          color: $color-1;
          font-weight: 600;
          span {
            color: white;
            font-weight: 500;
          }
          .i-star {
            color: yellow;
          }
        }
      }
      .btn-trailer {
        margin-top: 5%;
        button {
          padding: 2% 3%;
          border-radius: 6px;
          border: none;
          background: $color-3;
          &:hover {
            background: $color-1;
            transition: all 0.5s;
          }
          a {
            @include Element-a();
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
  }
}
