#film {
  position: relative;
  div,
  span {
    color: white;
  }
  .bg-film img {
    max-width: 100%;
  }
  .content-film {
    transform: translateY(-10rem);
    .content-left {
      div {
        text-align: center;
        img {
          width: 75%;
          height: 23rem;
        }
      }
    }
    .content-right {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.91) 0%, rgba(0, 0, 0, 0.06) 85%, rgba(0, 0, 0, 0.01) 100%);
      .content-right-padding {
        padding: 2%;
      }
      .chi-tiet {
        .chi-tiet-div {
          display: flex;
          align-items: center;
        }
        .chi-tiet-body1 {
          color: #ffffff80;
        }
        .chi-tiet-subtitle1 {
          width: 20%;
        }
        .i-star {
          color: #e99518;
        }
      }
      .btn-trailer {
        margin-top: 5%;
      }
    }
  }
  .content-synopsis {
    transform: translateY(-9rem);
    .synopsis-subtitle1 {
      color: $color-1;
    }
    .synopsis-body2 {
      color: black;
    }
  }
}
