#dat-ve-film {
  position: relative;
  color: white;
  display: flex;
  padding-bottom: 6%;
  &::before {
    content: "";
    background-image: url(../img/home-movie/movie-details-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
  }
  .content-left {
    width: 70%;
    padding: 2% 2%;
    padding-bottom: 6%;
    .tiltle {
      position: relative;
      display: flex;
      justify-content: space-between;
      h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
      }
      .count-time {
        font-size: 17px;
        text-align: center;
      }
    }
    .chon-ghe {
      padding-top: 4%;
      @media (max-width: 992px) {
        .note {
          display: flex;
        }
      }
      @media (max-width: 600px) {
        .note {
          display: block;
        }
      }
      .note {
        .seat {
          display: flex;
          align-items: center;
          margin-bottom: 10%;
          .seat-trong,
          .seat-dang-chon,
          .seat-da-dat,
          .seat-disable {
            height: 30px;
            display: inline-block;
            width: 15%;
            background: white;
            border-radius: 5px;
          }
          .seat-dang-chon {
            background: $color-1;
          }
          .seat-da-dat {
            background: $color-3;
          }
          .seat-disable {
            background: #e9b7a0d1;
          }
          .phan-loai {
            font-size: 17px;
            padding-left: 10%;
          }
        }
      }
      .select-seat {
        background: $color-2;
        padding: 0;
        height: 100%;
        .man-hinh {
          width: 100%;
          height: 20px;
          background: black;
        }
        .ghe-ngoi {
          .man-hinh-h5 {
            text-align: center;
            margin-top: 2%;
          }
          .vi-tri-ghe {
            display: flex;
            margin-top: 10%;
          }
          span {
            color: black;
          }
        }
      }
    }
  }
  .content-right {
    width: 30%;
    height: auto;
    background: $color-3;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.9) 6px 7px 5px;
    height: 30%;
    .thong-tin {
      width: 100%;
      margin: 0 auto;
      z-index: 3;
      position: absolute;
      right: 0;
      background: #241734;
      padding: 3%;
      .tong-tien {
        text-align: center;
        border-bottom: 2px solid;
      }
      .detail-film {
        padding: 5% 0;
        border-bottom: 2px solid;
        .detail-film-div {
          display: flex;
          align-items: center;
          .detail-film-subtitle1 {
            width: 27%;
            font-weight: 600;
          }
        }
      }
      .seat-select {
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
        border-bottom: 2px solid;
        align-items: center;
      }
      .combo {
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
        border-bottom: 2px solid;
        cursor: pointer;
        .chon-combo {
          &:hover {
            color: $color-1;
            transition: all 0.3s;
          }
        }
      }
      .btn-dat-ve {
        padding: 10% 0;
        width: 100%;
        outline: none;
        button {
          width: 100%;
          border-radius: 5px;
          border: none;
          padding: 4% 0px;
          background: $color-2;
          outline: none;
          &:hover {
            background: $color-1;
            transition: all 0.5s;
          }
          .btn-dat-ve-button {
            color: white;
          }
        }
      }
    }
    .listCombo {
      h5 {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        border-bottom: 2px solid;
        padding: 3% 0;
      }
      .content-combo {
        padding: 9% 2%;
        border-bottom: 2px solid;
        .chi-tiet-combo {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .detail-dat-ve {
      h5 {
        text-align: center;
        padding: 3% 0;
        border-bottom: 2px solid;
        width: 95%;
        margin: 0 auto;
      }
      .thong-tin-dat-ve {
        width: 95%;
        margin: 0 auto;
        line-height: 2rem;
        padding: 2% 0;
        border-bottom: 2px solid;
        .thong-tin-div {
          display: flex;
          align-items: center;
          .thong-tin-subtitle1 {
            width: 20%;
          }
        }
        .chi-tiet {
          font-weight: 600;
          color: $color-1;
        }
        .ghe {
          background: $color-1;
          margin-right: 1%;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
        }
      }
      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
      .thong-tin-button {
        display: flex;
        float: right;
        margin: 1% 1%;
        width: 38%;
        .btn-close {
          margin-right: 2%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #dat-ve-film {
    padding-top: 6%;
  }
}
@media (max-width: 768px) {
  #dat-ve-film {
    padding-top: 10%;
  }
}
@media (max-width: 576px) {
  #dat-ve-film {
    padding-top: 15%;
  }
}
