header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: black;
  .header {
    .padding-header {
      align-items: center;
      padding: 10px 0;
      .header-left {
        justify-content: center;
        display: flex;
        .logo {
          color: #e3b922;
          text-decoration: none;
        }
      }
      .header-right {
        width: 80%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        .color-item {
          a {
            @include Element-a();
            padding: 0;
            margin: 0.5em 1em;
            position: relative;
            &::after {
              content: "";
              width: 0;
              height: 2px;
              position: absolute;
              background: white;
              left: 0;
              bottom: 0;
            }
            &:hover {
              cursor: pointer;
              &::after {
                content: "";
                width: 100%;
                transition: width 0.3s ease-in-out;
              }
            }
          }
        }
        .error {
          color: red;
        }
        #login {
          .form-login {
            width: 90%;
            margin: 0 auto;
            padding: 8% 0;
            .form-input {
              width: 100%;
              margin-bottom: 3%;
              input {
                width: 100%;
                padding: 4%;
                border: none;
                line-height: 21px;
                border-radius: 7px;
                outline: none;
              }
            }
            #logo-submit {
              padding: 3%;
              font-size: 148%;
              width: 100%;
              border-radius: 7px;
              background: $color-3;
              border: none;
              text-transform: uppercase;
              color: white;
              font-weight: 600;
              cursor: pointer;
              &:hover {
                background: $color-1;
                transition: ease-in-out 0.2s;
              }
            }
            #register {
              a {
                @include Element-a();
              }
              margin-top: 2%;
              padding: 3%;
              font-size: 148%;
              width: 100%;
              border-radius: 7px;
              background: $color-3;
              border: none;
              text-transform: uppercase;
              color: white;
              font-weight: 600;
              cursor: pointer;
              &:hover {
                background: $color-1;
                transition: ease-in-out 0.2s;
              }
            }
          }
        }
        div {
          color: white;
        }
        .menu {
          display: none;
          padding-left: 5%;
          cursor: pointer;
          .icon-menu {
            color: white;
            font-size: 30px;
          }
          #check {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .header {
      .header-container {
        height: 100%;
        .padding-header {
          height: 100%;
          .header-right {
            .left-ul {
              width: 100%;
              .color-item {
                display: none;
              }
              .color-item-login {
                display: none;
              }
              .menu {
                width: 100%;
                display: block;
                text-align: right;
              }
            }
          }
          .content-header-right {
            padding: 0;
          }
        }
      }
    }
  }
}
