#home-movie {
  position: relative;
  padding-bottom: 2rem;
  &::before {
    content: "";
    background-image: url(../img/home-movie/movie-details-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 100%;
  }
  .title {
    position: relative;
    @include flex(center);
    list-style: none;
    padding-left: 0;
    padding-top: 5%;
    a {
      @include Element-a();
      @include tiltle();
    }
    li {
      width: 30%;
      @include flex(center);
      height: 50%;
      box-shadow: rgba(0, 0, 0, 0.9) 6px 7px 5px;
      position: relative;
      padding: 3% 0;
    }
    .movie-play {
      margin-right: 6%;
      cursor: pointer;
    }
    .movie-soon {
      cursor: pointer;
    }
  }
  .tiltle-detail {
    position: relative;
    @include tiltle();
    text-align: center;
    position: relative;
    padding: 4% 0;
    font-size: 212%;
  }
  .show-movie {
    .my-movie {
      width: 90%;
      margin: 0 auto;
      .movie {
        .film-item {
          position: relative;
        }
        img {
          width: 91%;
          height: 80%;
          margin: 0 auto;
          &:hover {
            transition: delay 0.5s;
            transform: scale(1.1);
            transition: ease-in-out 0.5s;
            cursor: pointer;
          }
        }
        .name-movie {
          @include Element-a();
          width: 91%;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          font-size: 109%;
          margin: 0 auto;
          margin-top: 10%;
          &:hover {
            color: $color-1;
            transition: ease-in-out 0.3s;
            cursor: pointer;
          }
        }
        .mua-ve {
          text-align: center;
          width: 91%;
          color: white;
          background-color: #ec753273;
          padding: 5% 0;
          border-radius: 5px;
          margin: 0 auto;
          margin-top: 10%;
          a {
            text-decoration: none;
            color: white;
            font-size: 130%;
            font-weight: 700;
          }
          &:hover {
            background-color: $color-1;
            transition: ease-out 1s;
            cursor: pointer;
          }
        }
      }
    }
  }
  .soon-movie {
    .my-movie {
      width: 90%;
      margin: 0 auto;
      .movie {
        .film-item {
          position: relative;
        }
        img {
          width: 91%;
          height: 80%;
          margin: 0 auto;
          &:hover {
            transform: scale(1.1);
            transition: ease-in-out 0.5s;
            cursor: pointer;
          }
        }
        .name-movie {
          @include Element-a();
          width: 91%;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          margin: 0 auto;
          margin-top: 10%;
          font-size: 109%;
          &:hover {
            color: $color-1;
            transition: ease-in-out 0.3s;
            cursor: pointer;
          }
        }
        .mua-ve {
          text-align: center;
          width: 91%;
          color: white;
          background-color: #ec753273;
          padding: 5% 0;
          border-radius: 5px;
          margin: 0 auto;
          margin-top: 10%;
          a {
            text-decoration: none;
            color: white;
            font-size: 130%;
            font-weight: 700;
          }
          &:hover {
            background-color: $color-1;
            transition: ease-out 1s;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  #home-movie {
    .title {
      a {
        font-size: 100%;
      }
    }
  }
}
@media (max-width: 600px) {
  #home-movie {
    .title {
      a {
        font-size: 70%;
      }
    }
  }
}
@media (max-width: 375px) {
  #home-movie {
    .title {
      li {
        width: 50%;
      }
    }
  }
}
