#news-review {
  position: relative;
  .review-news {
    padding-top: 6%;
    .news {
      padding: 0;
      .tiltle {
        color: black;
        margin-bottom: 8%;
        letter-spacing: 1px;
      }
      .news-film {
        display: flex;
        margin-bottom: 5%;
        img {
          max-width: 40%;
        }
        .news-item {
          padding-left: 2%;
          background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          padding-right: 2%;
          margin-right: 2%;
          .tiltle-film {
            margin-bottom: 3%;
            a {
              @include Element-a();
              &:hover {
                color: $color-1;
                transition: all 0.5s;
                cursor: pointer;
              }
            }
          }
          p {
            color: #ffffff87;
            text-align: justify;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  #news-review {
    .review-news {
      .news {
        .tiltle {
          font-size: 150%;
        }
        .news-film {
          img {
            display: none;
          }
        }
      }
    }
  }
}
