#promotion {
  background-color: $color-2;
  .promotion-content {
    padding-top: 4%;
    padding-bottom: 5%;
    .tiltle {
      @include tiltle();
      text-align: center;
      width: 24%;
      margin: 0 auto;
      background: $color-1;
      padding: 2% 0;
      margin-bottom: 5%;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.9) 6px 7px 5px;
    }
    .promotion-item {
      width: 80%;
      margin: 0 auto;
      .item-promotion {
        img {
          width: 85%;
          height: 40%;
          margin: 0 auto;
        }
      }
    }
  }
}
