#promotion {
  background-color: $color-2;
  .promotion-content {
    padding-top: 4%;
    padding-bottom: 5%;
    .tiltle {
      text-align: center;
      width: 24%;
      margin: 0 auto;
      padding: 2% 0;
      margin-bottom: 5%;
      color: white;
    }
    .promotion-item {
      width: 80%;
      margin: 0 auto;
      .slick-next {
        top: 30%;
        transform: translateX(15px);
      }
      .slick-next::before,
      .slick-prev::before {
        color: #f55c05;
        border: 2px solid;
        height: 55px;
        width: 55px;
        display: block;
        border-radius: 50%;
        font-size: 44px;
        font-family: none;
      }
      .slick-prev {
        top: 30%;
        transform: translateX(-50px);
      }
      .item-promotion {
        img {
          width: 13rem;
          height: 15rem;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  #promotion {
    .promotion-content {
      .tiltle {
        font-size: 100%;
      }
    }
  }
}
@media (max-width: 600px) {
  #promotion {
    .promotion-content {
      .tiltle {
        font-size: 60%;
      }
      .promotion-item {
        .slick-next::before,
        .slick-prev::before {
          content: none;
        }
      }
    }
  }
}
